.dropdown {
  @apply .absolute .block .invisible .opacity-0 .z-50 .card .border-transparent .px-6 .py-4 .text-sm .font-bold .shadow .rounded-none .border .border-grey-light;
  min-width: 200px;
  opacity: 0;
  transition: visiblity 0.5s linear, opacity 0.2s linear;

  &.dropdown-show {
    @apply .block .visible .opacity-100;
  }

  & .dropdown-menu,
  & ul,
  & ol {
    @apply .m-0 .list-reset;

    // list item
    & li {
      @apply .h-12 .text-grey-darker .border-b-2 .border-transparent .cursor-pointer .align-middle .flex .items-center;
      transition: opacity 0.1s ease, border .2s ease;
    }

    & li:hover {
      @apply .border-grey-lightest;
    }

    & li:active {
      @apply .border-grey;
    }

    & li.menu-header {
      @apply .text-grey-darkest .cursor-default;
    }

    // list divider
    & .menu-divider {
      @apply .border-b .border-grey;
    }
  }
}

// Hover trigger
*:hover > :not([data-trigger]) + .dropdown {
  transition: visiblity 0.5s linear, opacity 0.2s linear;
  @extend .dropdown-show;
}

// Click trigger
[data-trigger="click"] + .dropdown {
  transition: all 0s 9999999s;
}

html:active [data-trigger="click"]:not(:hover) + .dropdown:not(:hover),
.dropdown-hide {
  display: none;
}

[data-trigger="click"]:active,
[data-trigger="click"]:focus,
 {
  & + .dropdown {
    transition: all 0s;
    @extend .dropdown-show;
    &:hover {
      @extend .dropdown-show;
    }
  }
}
