textarea {
  @apply .border-transparent .border .bg-grey-lighter .w-full .rounded .appearance-none;
  width: 100%;
  transition: all 0.2s ease;
  resize: none;
  &:focus {
    @apply .border-primary;
  }
}
